<!DOCTYPE html><html lang='fr'>
    <head>
        <meta charset='utf-8' />
        <title> View Page </title>
    </head>

    <body> 
        <p>[ <a href="/">home</a> ]</p>
        <h1>{{title}}</h1>
        <p>[ <a href="/edit/{{title}}">edit</a> ]</p>
        <div>{{body}}</div>
    </body>
</html>
